<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>iPipe</title>
</head>

    <body>
        <div class="form">
            <div class="form-primary">
                <form action="">
                    <input type="text" placeholder="Username" class="form-input">
                    <input type="password" placeholder="Password" class="form-input-1">
                    <button type="submit" class="button">Login</button>
                </form>
                <div class="form-secudary"></div>
                <div class="form-tercy"></div>
                <div class="form-label"></div>
            </div>

        </div> 
    </body>
</html>

