
<h2>Seu produto: </h2>
<div class="fundo" >
    <form action="">
        <div>
            <h5 class="produto">Nome produto</h5>
            <input type="text" class="input-form"/>
        </div>
        <div>
            <h5 class="produto">Descricao</h5>
            <textarea class="input-form"> </textarea>
        </div>
        <h3>Sobre o produto: </h3>
        <div>
            <h5 class="produto">Categoria:</h5>
            <input type="text" class="input-form" placeholder="Selecione a categoria"/>
        </div>
        <div>
            <h5 class="produto">Valor:</h5>
            <input type="text" class="input-form" placeholder="R$"/>
        </div>
        <button class="SalvarCadastro">Salvar cadastro</button>
    </form>
</div>
